body {
    background: #e8f5e9;
    font-family: 'Segoe UI', sans-serif;
}

.signup-container {
    max-width: 420px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    border-top: 6px solid #2ecc71;
}



label {
    font-size: 15px;
    color: #2e7d32;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #c8e6c9;
    border-radius: 10px;
    outline: none;
    margin-top: 6px;
    margin-bottom: 22px;
}

.home-btn {
    width: 100%;
    background: #2ecc71;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
